/* Global and existing styles */
@import url('../global.css');

.couple-image {
    width: 100%; /* Full width of its container */
    height: auto; /* Maintain aspect ratio */
    
    
    display: block; /* Remove any default inline spacing */
}

.register-label {
    color: var(--blue);
    font-size: var(--big-font);
}

.register-input {
    font-size: var(--med-font);
    padding-left: 5%;
    font-family: var(--font);
    color: var(--pink);
    height: 4.5vh;
    width: 96%;
    -webkit-appearance: none;
    outline: none;
    border: none;
    background-color: var(--panel-bg);
    border-radius: 50px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.register-button {
    border-radius: 50px;
    border: none;
    background-color: var(--purple);
    font-size: var(--big-font);
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 8%;
    color: var(--blue);
    padding: 2% 8%;
    transition: background-color 0.2s ease;
    margin-top: 3.5%;
}

.forgot-pass {
    text-align: center;
    font-size: var(--med-font);
    color: var(--pink);
}

.whatever {
    float: right;
}

.register-form {
    width: 35%;
    margin-right: 15%;
    margin-top: 4%;
    margin-left: 7%;
    margin-bottom: 15%;
}

/* Media query for mobile devices */
@media (max-width: 750px) {
    .flex-banner {
        flex-direction: column;
        align-items: center;
    }

    .couple-image {
        order: 2; /* Image appears after the form */
        min-width: 90%;
        min-height: auto;
    }

    .register-form {
        width: 80%;
        margin: 5% auto;
        order: 1; /* Form appears first */
    }

    .fixed {
        min-height: 100vh; /* Ensure the container allows for scrolling */
        overflow: auto; /* Allow scrolling if content overflows */

    }
}
